@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

a {
  text-decoration: none !important;
}

li {
  list-style: none;
  top: 3px;
  left: 5px;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.wrapper {
  display: flex;
}

::selection {
  background-color: #BFD6C2;
  color: #0C3B2E;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: #EFE9E1;
  min-width: 0;
}

#sidebar {
  width: 200px;
  z-index: 1000;
  background-color: #0C3B2E;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y:auto;
  overflow-x: hidden;
}

/* Profile Connect Logo */
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  cursor: pointer;
}

.sidebar-logo img {
  width: 100px;
  height: 100px;

}

/* Sidebar contents */
.sidebar-nav {
  padding: 1rem 0;
  flex: 1 1 auto;
  /* grow, shrink,    */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.sidebar-footer {
  margin-bottom: 20px;
}

.sidebar-footer p {
  font-size: 10.5px;
  color: #EFE9E1;
}

/* sidebar links */
a.sidebar-link {
  padding: 1rem 1.625rem;
  color: #EFE9E1;
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: .75rem;
}
a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, .075);
  border-left: 3px solid #BB8A52;
}
.sidebar-item .sidebar-dropdown {
  position: relative;
  margin-top: 2px;
  width: 100%;
}
/* for the sidebar dropdown contents */
.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: relative;
  left: 1rem;
  top: 0rem;
  transform: rotate(44deg);
  transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(225deg);
  transition: all .2s ease-out;
}

/* navigation bar */
.navbar {
  display: flex;
  background-color: #FDF8F3;
  height: 3rem;
  margin: 10px;
  border-radius: 15px;
}

.navbar-expand .navbar-collapse {
  min-width: 200px;
}

/* user */

.avatar {
  height: 25px;
  width: 25px;
  margin: 0 0.5rem;
  flex-shrink: 0;
}

/* logo */
.navbar-logo {
  height: 120px;
  width: 120px;
  margin-top: 3.9rem;
}

.navbar-logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Dropdown of avatar */
.navbar .dropdown-menu {
  background-color: #0C3B2E;
  right: 0;
  left: -100px;
}

.dropdown-item span,
.dropdown-item i {
  position: relative;
  color: #fff;
  font-size: 0.9rem;
  margin-left: 7px;
}

.navbar .dropdown-item:hover {
  background-color: rgba(255, 255, 255, .075);
  border-right: 3px solid #FFBA00;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-item {
  bottom: 10px;
}

/* main-events */

.event-table,
table {
  width: 100%;
  border-radius: 15px;
  background-color: #FDF8F3;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(12, 59, 46, 0.12);
}

#main-header {
  background-color: #BB8A52;
  color: #EFE9E1;
  text-align: center;
  border-bottom: 1px solid #9e7443;
  font-size: 18px;
  text-align: center;
}

#content-header {
  height: 50px;
  background-color: #BB8A52;
  color: #EFE9E1;
  font-style: italic;
}

.event-table th,
.event-table td {
  padding: 12px;
}

.event-table tbody tr:hover td {
  background-color: #BB8A52;
  color: #f7f4ef;
}

/* todo list */


.todo-app {
  width: 100%;
  max-width: 540px;
  background: #BB8A52;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 15px;
}

.todo-app span {
  font-weight: 700;
  font-size: 18px;
  color: #FDF8F3;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

#rowList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #A77B48;
  padding-left: 20px;
  margin-bottom: 25px
}


#todoText {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 16px;
  color: #FDF8F3;
}

#todoText::placeholder {
  color: #D7AB79;
}

#todoButton {
  border: none;
  outline: none;
  padding: 10px 50px;
  background: #845E32;
  color: #FDF8F3;
  font-size: 16px;
  cursor: pointer;
}

#todoButton:hover {
  background: #9A6A33;
}

#listContent {
  list-style: none;
  font-size: 15px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #FDF8F3;
}

#listContent::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

/* main-calendar */
.calendar-wrapper {
  max-width: 420px;
  width: 100%;
  background: #BB8A52;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(12, 59, 46, 0.12);
  color: #EFE9E1;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 40px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #EFE9E1;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
  color: #BB8A52;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #EFE9E1;
  width: calc(100% / 7);
  font-size: 1.07rem;

}

.calendar .days li:hover {
  color: #BB8A52;
}

.calendar .weeks li:hover {
  color: #ffffff;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #8b8379;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #9B59B6;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

/* footer */
.footer,
col-6,
col-3 {
  font-size: 12px;
}

.footer,
p {
  text-align: center;
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 100%;
    order: 2;
    margin-top: 20px;
  }
}